<title>citasMedicas</title>
<!-- Link labels -->
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="../css/styles.css" />
<link rel="shortcut icon" href="../css/styles.css">

<!-- Structure -->

<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a href="../index.html" class="active"
      ><img
        height="60"
        width="60"
        src="../img/edusLogoCuadrado.png"
        alt=""
    /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li>
            <a class="nav-item" href="/index.html">Inicio</a>
          </li>
          <li><a class="nav-link" href="../views/citasMedicas.html">Citas Medicas</a></li>
          <li><a class="nav-item" href="../views/datosPersonales.html">Datos Personales</a></li>
          <li><a class="nav-item" href="../views/medicamentos.html">Medicamentos</a></li>
          <li class="nav-item"><a href="../views/vacunas.html">Vacunas</a></li>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="">
    <div>
        <h2 class="font-weight-light text-light text-center">Citas Médicas</h2>
    </div>
    <div>
        <p class="font-weight-light text-light text-center">En EDUS encontrará una sesión dedicada a sus citas médicas.
            En la cual podrá, solicitar su cita presencial através de nuestra aplicación.
            La CCSS tramitó 268.858 citas por Internet y 652.570 por teléfono durante el 2015 en los ebáis. Esto significa que 921.428 citas fueron establecidas a distancia, sin que la persona tuviera que acudir al centro de salud para solicitarla, usualmente muy de mañana.

Estas cifras son consideradas un “gran avance” del expediente digital único en salud (EDUS) y representa la marcha sostenida del servicio según el plan de desarrollo, que aspira a completar el cien por ciento de los ebáis del país al finalizar el año, según afirma Xinia Cordero Sobalbarro, encargada del componente de “servicios de valor” de EDUS.

EDUS, como proyecto institucional organizado y programado, comenzó funciones en octubre del 2013, siguiendo la instrucción de la Junta Directiva a la Gerencia de Infraestructura, con el propósito de impulsar el expediente único digital en los ebáis. La modalidad de citas a distancia es uno de los componentes de ese concepto.

Junto al servicio de citas por internet y por teléfono, la institución lanzó la aplicación “EDUS” el año pasado. Con ella, la persona puede llevar el control de citas y medicamentos desde su teléfono celular. Entre otros beneficios, está la posibilidad de recordación de la hora de la cita y el listado de los medicamentos recetados.

Citas web.

Las comunidades que más citas Web en el 2015 fueron las siguientes:

CARIARI 28.569
ALAJUELITA 26.095

El servicio de citas por página web comenzó en agosto del 2014. Actualmente, hay 590 ebaís con acceso a esa herramienta, lo que representa el 58% de los EBAIS del país y se espera alcanzar el 100% a finalizar el año.

El acceso a citas web se hace mediante el enlace https://edus.ccss.sa.cr/eduscitasweb Allí también se puede consultar la lista de ebáis con el servicio.

Para usarlo, el asegurado primero debe presentarse al ebaís para afiliarse al EDUS. Una vez afiliado, la persona puede ingresar a la página de la CCSS y registrarse en el servicio. Con el sistema, se puede sacar cita para el mismo día o para el día siguiente.

Citas por teléfono:

En algunas comunidades, la institución habilitó las citas por teléfono.

El servicio de gestión citas telefónicas es el número 905 MISALUD(6472583). El centro de llamadas comenzó en octubre 2013. La cantidad de EBAIS con citas telefónicas son 123 y la cantidad de Áreas de Salud con citas telefónicas son diez 10.
        </p>
    </div>
    
  </div>
 

  <div id="contacto" class="footer-basic">
    <footer>
        <div target="_blank" class="social"><a href="https://www.instagram.com/ccssdecostarica/"><i class="icon ion-social-instagram"></i></a>
            <a target="_blank" href="https://twitter.com/CCSSdeCostaRica"><i class="icon ion-social-twitter"></i></a>
            <a target="_blank" href="https://www.facebook.com/ccssdecostarica/"><i class="icon ion-social-facebook"></i></a></div>
        <p class="copyright">EDUS - CCSS | Copyright 2023©</p>
    </footer>
</div>

  <!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

