<title>medicamentos</title>
<!-- Link labels -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="../css/styles.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="shortcut icon" href="../img/logoCCSS.jpg">

<!-- Structure -->
<nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      <a href="/index.html" class="active"
      ><img
        height="60"
        width="60"
        src="../img/edusLogoCuadrado.png"
        alt=""
    /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-item" href="/index.html">Inicio</a>
              </li>
          <li><a class="nav-item" href="../views/citasMedicas.html">Citas Medicas</a></li>
          <li><a class="nav-item" href="../views/datosPersonales.html">Datos Personales</a></li>
          <li><a class="nav-link" href="../views/medicamentos.html">Medicamentos</a></li>
          <li><a class="nav-item" href="../views/vacunas.html">Vacunas</a></li>
        </li>
        </ul>
      </div>
    </div>
  </nav>


<h1 class="text-light text-center">Sus medicamentos en CCSS</h1>
<br>
<br>
<div class="row">
    <div class="col-sm">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="col-md-9">
                <img src="../img/acetaminofen.webp" class="img-fluid rounded-start" alt="...">
              </div>
            <div class="text-center">
              <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Acetaminofen</h5>
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="col-sm"><div class="card mb-3" style="max-width: 540px;">
        <div class="col-md-9">
            <img src="../img/lorata.webp" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="text-center">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Loratadina</h5>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm"><div class="card mb-3" style="max-width: 540px;">
        <div class="col-md-8">
            <img src="../img/hidroAlum.webp" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="text-center">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Aluminio Hidróxido y Magnesio Hidróxido </h5>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm"><div class="card mb-3" style="max-width: 540px;">
        <div class="col-md-12">
            <img src="../img/ibru.webp" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="text-center">
          <div class="col-md-12">
            <div class="card-body ">
              <h5 class="card-title">Ibuprofeno</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="col-sm">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="col-md-9">
                <img src="../img/acetaminofen.webp" class="img-fluid rounded-start" alt="...">
              </div>
            <div class="text-center">
              <div class="col-md-12">
                <div class="card-body">
                  <h5 class="card-title">Acetaminofen</h5>
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="col-sm"><div class="card mb-3" style="max-width: 540px;">
        <div class="col-md-9">
            <img src="../img/lorata.webp" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="text-center">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Loratadina</h5>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm"><div class="card mb-3" style="max-width: 540px;">
        <div class="col-md-8">
            <img src="../img/hidroAlum.webp" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="text-center">
          <div class="col-md-12">
            <div class="card-body">
              <h5 class="card-title">Aluminio Hidróxido y Magnesio Hidróxido </h5>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm"><div class="card mb-3" style="max-width: 540px;">
        <div class="col-md-12">
            <img src="../img/ibru.webp" class="img-fluid rounded-start" alt="...">
          </div>
        <div class="text-center">
          <div class="col-md-12">
            <div class="card-body ">
              <h5 class="card-title">Ibuprofeno</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>

    <div class="footer-basic">
        <footer>
            <div target="_blank" class="social"><a href="https://www.instagram.com/ccssdecostarica/"><i class="icon ion-social-instagram"></i></a>
                <a target="_blank" href="https://twitter.com/CCSSdeCostaRica"><i class="icon ion-social-twitter"></i></a>
                <a target="_blank" href="https://www.facebook.com/ccssdecostarica/"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">EDUS - CCSS | Copyright 2023©</p>
        </footer>
    </div>

      <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

