/*We make it responsive*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .body {
    display: grid;
    grid-template-areas: "header" "header" "div1" "div2" "imagenes" "imagenes" "pruebasMedicas" "pruebasMedicas" "div1" "div2" "footer-basic" "footer-basic";
  }
}
@media (min-width: 1025px) and (max-width: 1281px) {
  .body {
    grid-template-areas: "header" "header" "div1" "div2" "imagenes" "imagenes" "pruebasMedicas" "pruebasMedicas" "div1" "div2" "footer-basic" "footer-basic";
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .body {
    grid-template-areas: "header" "div2" "imagenes" "pruebasMedicas" "parrafoAcercaDe" "footer-basic";
  }
  aside {
    display: none;
  }
}
/*Iteration variables*/ /*NavBar*/
.navbar {
  background-color: #04549c;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: #04549c;
}
.navbar a.active {
  background-color: #04549c;
  color: white;
}
.navbar .icon {
  display: none;
}

/*Body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #04549c;
  font-family: sans-serif;
  grid-area: body;
}

/*Various web content*/
#Principal {
  width: 100%;
  height: 400px;
  background: #04549c;
}

#div1 {
  margin: 0;
  width: 50%;
  height: inherit;
  display: block;
  float: left;
}

#div2 {
  width: 50%;
  height: inherit;
  display: block;
  float: left;
}

header {
  grid-area: header;
}

.div1 {
  grid-area: div1;
  text-align: center;
  top: 0;
  z-index: auto;
}

.div2 {
  grid-area: div2;
  position: sticky;
  top: 0;
  z-index: auto;
}

.texto {
  grid-area: pruebasMedicas;
}

.parrafoAcercaDe {
  grid-area: parrafoAcercaDe;
}

/*Footer*/
.footer-basic {
  grid-area: footer-basic;
  padding: 40px 0;
  background-color: #04549c;
  color: white;
}
.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer-basic ul a:hover {
  opacity: 1;
}
.footer-basic li {
  padding: 0 10px;
}
.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}
.footer-basic .social > a:hover {
  opacity: 0.9;
}
.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.img1 {
  width: 60%;
  height: 50%;
}

.img2 {
  width: 70%;
  height: 70%;
}

.imagenes {
  grid-area: imagenes;
}

.slider-container {
  display: flex;
  width: 50%;
  height: 50vh;
}
.slider-container img {
  flex: 0 0 50%;
  width: 50%;
  object-fit: cover;
  scroll-snap-align: center;
}

/*# sourceMappingURL=styles.css.map */
